# Vendored engine/library files (downloaded at deploy time or via get-engine.sh)
engine/stockfish-16.1-lite-single.js
engine/stockfish-16.1-lite-single.wasm
engine/fairy/
engine/maia3/
engine/ort/
coi-serviceworker.js
vendor/chess.js
img/stockfish.png
img/pieces/
sound/
node_modules/
.DS_Store
